.carousel-container {
  overflow: hidden;
  position: relative;
  height: 30vw;
  border-color: #4b5563;
  width: 100%;
}

.carousel-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%; /* Half of the container width */
  height: 100%;
  &:hover {
    transform: scale(0.9);
    box-shadow: 5px 5px 8px rgba(222, 222, 222, 0.362),
      10px 10px 8px rgba(152, 133, 133, 0.392),
      15px 15px 8px rgba(139, 154, 139, 0.303);
  }
  border-radius: 20%;
  background: rgb(41, 40, 40);
}

.carousel-card  {
 
  height: 80%;
  width: 22vw; /* Half of the card width */
  border-radius: 10%;
  margin-left: 2vw;

}
.vid{
  border-radius: 15px;
  border:  1px solid #ccc; 
  
}

.carousel-track {
 
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: flex-start; /* Change to start from the left */
  align-items: center;
  gap: 16px;
  height: 100%;
  width: 200%; /* Double the width for horizontal scrolling */
  animation: slide 20s linear infinite;
  &:hover {
      animation-play-state: paused;
  }
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%); /* Adjust to slide content */
  }
}
